# Core
numpy
pandas
scikit-learn
joblib
scipy

# NLP
nltk
spacy
emoji
textblob
vaderSentiment
wordcloud
tqdm

# ML / Ensemble
xgboost
lightgbm
catboost
imblearn

# Deep Learning
tensorflow

# Visualization
matplotlib
seaborn
