# Core
numpy
pandas
scikit-learn
joblib
scipy

# NLP
nltk
spacy
emoji
textblob
vaderSentiment
wordcloud
tqdm
gunicorn
# ML / Ensemble
xgboost
lightgbm
catboost
imblearn

# Deep Learning
tensorflow
Flask
# Visualization
matplotlib
seaborn


